.App {  
  text-align: center;  
  margin-top: 50px;  
}  

input {  
  padding: 10px;  
  margin-right: 10px;  
}  

button {  
  padding: 10px;  
  background-color: green;  
  color: white;  
  border: none;  
  cursor: pointer;  
}  

button:hover {  
  background-color: darkgreen;  
}  

ul {  
  list-style-type: none;  
  padding: 0;  
}  

li {  
  margin: 5px 0;  
}